<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <!-- <link rel="stylesheet" type="text/css" href="http://localhost:8080/public/styles.css"> -->
</head>
<body>
  <a href="http://localhost:8080/urls">Home</a>
  <% if (username === undefined) { %>
    <form method="POST" action="/login">
      <label for="login">Login:
        <input id="login" type="text" name="username">
        <input type="submit" value="Go!">
      </label>
    </form>
  <% } else { %>
    <p style="font-weight: bold">Logged in as: <%= username %></p>
    <form method="POST" action="/logout"><input type="submit" value="Logout!"></form>
  <% } %>
</body>
</html>